h1 {
    color: #00A5CF;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    margin-left: 10px;
    color: white;
}

body {
    background-color: #202A25;
}

#heroId, #heroId2 {
    font-size: 16px;
    border: 3px solid #00A5CF;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    width: 200px;
    margin-left: 10px;
}

button {
    font-size: 16px;
    border: 1px solid #00A5CF;
    background: #00A5CF;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

.searchButton, .searchButton2 {
    width: 75px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}

#searchResults {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding: 10px;
    max-width: 300px;
}

.box-shadow-effect {
    box-shadow: #00A5CF 0px 0px 10px;
}
