:root {
    --primary: #0092b7;
    --primary-dark: #0072b7;
}

h1 {
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

h2 {
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

p, a, select, li {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: #fff;
    
}

select {
    border: 3px solid var(--primary);
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    vertical-align: top;
    color: #000;
}

li {
    list-style-type: none;
}

body {
    background-color: #202A25;
}

input {
    font-size: 16px;
    border: 3px solid var(--primary);
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #000;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: bottom;
}

button {
    font-size: 16px;
    border: 1px solid var(--primary);
    background: var(--primary);
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: top;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-dark);
}

.link-style {
    text-decoration: none;
    color: #00A5CF;
}

#field {
    margin-left: 10px;
}

#mainSearchResults, #lists {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding: 10px;
}

#mainSearchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hero-block {
    width: 225px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.box-shadow-effect {
    box-shadow: var(--primary) 0px 0px 10px;
}